body {
    background-color: lightskyblue;
}

.container-account {
    width: 100vw;
    margin-left: 5vw;
    padding-top: 1vh;
    font-size: 0.9vw;
}

    .container-account p {
        margin: 1.2vh 0;
    }

    .container-account input {
        margin: 0.5vw 0px;
        font-size: 0.9vw;
    }

    .container-account a {
        text-decoration: none;
        margin-left: 1vw;
        padding: 0.63vh 0.7vw;
        border: 0.2vw solid #413e3e;
        border-radius: 4vh;
        color: gray;
        background-color: white;
        font-size: 0.9vw;
    }


        .container-account a:hover {
            color: blue;
        }

form p:last-of-type {
    margin: 3vh 0;
}
