body {
    margin: 0;
}

.container {
    width: 100vw;
    min-height: 100vh;
    padding-top: 3vh;
    text-align: center;
    margin: 0 auto;
    background-color: lightblue;
}

h1 {
    font-size: 2vw;
}

img {
    width: 15vw;
}
