body {
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    margin: 0px;
}

header {
    width: 100vw;
    margin: 0px;
    padding-left: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: 0.2vw solid gray;
    background-color: rebeccapurple;
    background-clip: border-box;
}

    header ul {
        max-width: 31%;
        margin: 0 0 0 1vw;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }

    header li {
        float: left;
    }

    header a {
        text-decoration: none;
        display: block;
        padding: 0.6em 2em;
        color: darkviolet;
        background-color: lightgray;
        border: 1px solid black;
        font-size: 0.9vw;
    }


        header a:hover {
            color: #ad0d9e;
            background-color: white;
        }

.container {
    width: 100vw;
    min-height: 100vh;
    padding-left: 6vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: lightskyblue;
    background-clip: border-box;
    font-size: 0.9vw;
}

    .container input {
        font-size: 100%;
    }


    .container > h2 {
        padding-left: 0.5vw;
    }

a {
    text-decoration: none;
    color: darkblue;
}

    a:hover {
        color: #382cec
    }


div.container-edit {
    width: 20vw;
    border: 0.1vw groove;
    border-radius: 1vw;
    background-color: lightblue;
}

    div.container-edit h2 {
        margin: 0px;
        padding-left: 1vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-bottom: 0.1vw solid gray;
    }

    div.container-edit p {
        padding-left: 1vw;
        margin: 2vh 0px;
    }

    div.container-edit input {
        margin: 0.5vw 0px;
    }


.btn-color-red {
    background-color: red;
}

    .btn-color-red:hover {
        background-color: #cb3434;
        color: #ffe8e8;
    }

.btn-color-blue {
    background-color: blue;
}

    .btn-color-blue:hover {
        background-color: #3027fe;
        color: #ffe8e8;
    }

.btn-color-green {
    background-color: green;
}

    .btn-color-green:hover {
        background-color: #009305;
        color: #ffe8e8;
    }

.btn-color-red, .btn-color-blue, .btn-color-green {
    border-radius: 4vh;
    color: lightgray;
    padding: 0.7vh 0.7vw;
    border: 0.2vw solid #413e3e;
    font-size: 0.9vw;
    outline: none;
}

.font-weight-bold {
    font-weight: bold;
}
