div.container-report-list {
    width: 18vw;
    background-color: lightblue;
    border: 0.1vw solid gray;
    border-radius: 3vh;
    margin-top: 3vh;
    font-size: 0.8vw;
}

    div.container-report-list h2 {
        padding-left: 1vw;
    }

    div.container-report-list ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        div.container-report-list ul li {
            padding: 4% 7%;
        }

            div.container-report-list ul li p {
                max-width: 100%;
                word-break: break-word;
                margin: 0;
            }

            div.container-report-list ul li span {
                margin: 0;
                padding: 0;
                font-weight: bold;
            }

    div.container-report-list form ul li:first-of-type {
        background-color: lightgray;
        border-radius: 3vh 3vh 0 0;
    }

    div.container-report-list form ul li:nth-child(1n+2) {
        background-color: lightcyan;
    }

    div.container-report-list form ul li:last-child {
        background-color: lightgray;
        border-radius: 0 0 3vh 3vh;
    }
