div.container-report-list {
    width: 35vh;
    background-color: lightblue;
    border: 0.1vw groove;
    margin-top: 3vh;
}

    div.container-report-list h2 {
        padding-left: 1vw;
    }

    div.container-report-list ul {
        list-style-type: none;
        padding-left: 0px;
    }

        div.container-report-list ul li {
            margin-top: 0.2vh;
            margin-bottom: 0.2vh;
            padding: 1vh 2vh;
        }

    div.container-report-list button {
        margin: 1vh 1vw;
    }
