div.container-report-list {
    width: 35vh;
    background-color: lightblue;
    border: 0.1vw solid gray;
    border-radius: 3vh;
    margin-top: 3vh;
}

    div.container-report-list h2 {
        padding-left: 1vw;
    }

    div.container-report-list ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }

        div.container-report-list ul li {
            margin: 0;
            padding: 1vh 2vh;
        }

    div.container-report-list form ul li:first-of-type {
        background-color: lightgray;
        border-radius: 3vh 3vh 0 0;
    }

    div.container-report-list form ul li:nth-child(1n+2) {
        background-color: lightcyan;
    }

    div.container-report-list button {
        margin-left: 1vw;
    }


    div.container-report-list ul + p {
        margin: 0.7vh 0;
    }
