table.table-profile {
    background-color: lightblue;
    border: 0.1vw groove;
    border-spacing: 1vw 0px;
    text-decoration: none;
    padding: 1vh 0px;
}

    table.table-profile td {
        width: 10vw;
        padding: 0.8vw;
    }